<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="navbar-brand">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="content-centered">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" *ngFor="let personaje of personajesRecientes">
        <ion-card class="control-card">
          <ion-card-header class="control-header">
            <ion-card-title class="control-title">
              {{ personaje?.nombre || 'Cargando...' }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="control-content">
            {{ personaje?.texto || 'Cargando...' }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
