<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="navbar">
      <ion-title class="navbar-brand">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-header>
  <ion-toolbar class="navbar">  
    <ion-buttons slot="end"> 
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title class="navbar-brand">Inicio</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="content-centered">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p class="game-description">
          <strong>La Aventura de Zoru</strong> es un emocionante juego donde los jugadores asumen el papel de Zoru, un valiente zorro que se embarca en una misión para rescatar a su hermana Lira, una elfa atrapada en un mundo misterioso lleno de peligros y desafíos.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="7" class="ion-text-center personajes">
      <ion-img src="assets/icon/logo.png" alt="La Aventura de Zoru" class="game-image"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  
  body {
      font-family: 'Press Start 2P', cursive;
      background-color: #2D2D44;
      color: #F0F0F0;
      margin: 0;
      padding: 0;
  }
  
  .navbar {
      background-color: #3A3A5A !important;
      border-bottom: 4px solid #FFD166;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-brand {
      color: #8FBC8F !important;
      font-size: 1.5em;
      text-shadow: 2px 2px 0 #B48EAD;
  }
  
  .game-description {
      font-size: 14px;
      text-align: center;
      background-color: #3A3A5A;
      border: 4px solid #4C4C6D;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      color: #F0F0F0;
  }
  
  .game-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border: 4px solid #FFD166;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s;
  }
  
  .game-image:hover {
      transform: scale(1.1);
  }
</style>
