<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="navbar">
      <ion-title class="navbar-brand">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="navbar-brand">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="content-centered">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p class="game-description">
          <strong>Dreamlight Studio</strong><br>
          Iluminando tus sueños, un píxel a la vez.<br><br>
          Dreamlight Studio se especializa en desarrollar videojuegos 2D innovadores y memorables. Nuestro primer proyecto, *La Aventura de Zoru*, lleva a los jugadores a un mundo lleno de desafíos, con gráficos pixel art y jugabilidad dinámica. Buscamos conectar emocionalmente con los jugadores y dejar un legado de calidad y creatividad en la industria del entretenimiento digital.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="7" class="ion-text-center personajes">
      <ion-img src="assets/icon/lo.jpeg" alt="La Aventura de Zoru" class="game-image"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1E2A47; /* Azul oscuro similar al mar */
    color: #F0F0F0;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #1E3A6E !important; /* Azul marino */
    border-bottom: 4px solid #4C9FD4; /* Azul claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .navbar-brand {
    color: #4C9FD4 !important; /* Azul claro */
    font-size: 1.8em;
    text-shadow: 2px 2px 0 #A3D8F4; /* Efecto de sombra clara */
  }

  .game-description {
    font-size: 16px;
    text-align: center;
    background-color: #2A4A77; /* Azul intermedio */
    border: 4px solid #4C9FD4;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: #F0F0F0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .game-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 4px solid #4C9FD4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }

  .game-image:hover {
    transform: scale(1.1);
  }
</style>
